.view-note-header {
  color: bisque;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 20px 0;
}
.view-note-unlist {
  display: grid;
  padding-right: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 80px;
}
.view-note-list {
  width: 300px;
  box-shadow: 0 0 10px 0 #0003;
  border-radius: 4px;
  background-color: rgba(253, 243, 243, 0.445);
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  padding: 10px;
}
.view-note-author {
  color: rgba(34, 23, 189, 0.938);
  margin: 10px;
  padding: 5px;
  font-weight: 500;
}
.data-content {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 700px) {
  .view-note-unlist {
    display: inline-block;
  }
}
@media screen and (max-width: 400px) {
  .view-note-unlist {
    display: inline-block;
  }
}
